/*   Start  Danish Gilani    */ 
@font-face {
  font-family: enigmatic_2;
  src: url(../fonts/Enigma__2.TTF);
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
/*font-family: 'Lato', sans-serif;*/
body 
{
	background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
a:focus, button:focus {
	    outline: none;
}
.btn-primary.focus, .btn-primary:focus {
	      
    outline: none !important;
}
/*....Start General  CSS....*/
.navbar-nav {
	    float: right !important;
}
.navbar-nav li a {
	color: #404040 !important;
	font-weight: 600 !important;
	padding: 15px 6px !important;
}
.navbar-nav li a i {
	color: #ff7f0a;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: transparent !important;
}
.navbar-nav .fa-caret-down {
    
}
.navbar-fixed-top .navbar-collapse {
	box-shadow: 0px 0px 10px rgba(24, 24, 24, 0.15);

}
.navbar-toggle .icon-bar {
	background-color: #fff;
}
.UserInfo {
	margin: 30px 10px;
    border-left: 1px solid #D5D5D5;
    padding: 0px 20px;
}
	.UserInfo li  {

	}
		.UserInfo li a {
			    color: #404040;
		}
		.UserInfo li .fa-user-o {
			margin: 0px 5px;
			padding: 10px 11px;
		    background-color: #ff7f0a;
		    color: #fff;
		    border-radius: 50%;
		    background: #f8a21c;
		    background: -moz-linear-gradient(left, #f8a21c 1%, #ff810b 100%);
		    background: -webkit-linear-gradient(left, #f8a21c 1%,#ff810b 100%);
		    background: linear-gradient(to right, #f8a21c 1%,#ff810b 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8a21c', endColorstr='#ff810b',GradientType=1 );
		}
.custom-navbar {
	    margin-top: 6px !important;
}
	.custom-navbar .active {
		    background: transparent !important;
	}
	.custom-navbar .active a {
		color: #ff7f0a !important;
    	font-weight: bold;
	}
	.custom-navbar li a:hover {
		color: #ff7f0a !important;
    	font-weight: bold;
		background-color: transparent !important;
	}
.btn-blue .btn-primary {
		transition: all .5s ease-in-out 0s;
		border: none !important;
		border-radius: 50px !important;
		padding: 15px 42px !important;
		font-family: 'Lato', sans-serif !important;
		text-transform: uppercase !important;
		font-size: 16px !important;
		font-weight: bold !important;
		background: #0849ff; /* Old browsers */
		background: -moz-linear-gradient(left, #1c83fe 1%, #0849ff 100%) !important; /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #1c83fe 1%,#0849ff 100%) !important; /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #1c83fe 1%,#0849ff 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c83fe', endColorstr='#0849ff',GradientType=1 ) !important; /* IE6-9 */
		color: #fff;
}
.btn-blue .btn-primary:hover {
	background: linear-gradient(to left, #1c83fe 1%,#0849ff 100%) !important;
	color: #fff !important;
}
.outline-black {
	background-color: #fff;
	border:1px solid #d9d9d9 !important;
	border-radius: 50px !important;
	padding: 15px 42px !important;
	font-family: 'Lato', sans-serif !important;
	text-transform: uppercase !important;
	font-size: 16px !important;
	font-weight: bold !important;
	/*transition: all .5s ease-in-out 0s;*/
}
.outline-black:hover {
	background: #0849ff; /* Old browsers */
		background: -moz-linear-gradient(left, #1c83fe 1%, #0849ff 100%) !important; /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #1c83fe 1%,#0849ff 100%) !important; /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #1c83fe 1%,#0849ff 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c83fe', endColorstr='#0849ff',GradientType=1 ) !important; /* IE6-9 */
		color: #fff !important;
}
.ctr {
	text-align: center;
}
.MrTp {
	    margin-top: 40px;
}
.top-line {
	border-top: 1px solid #E6E6E6;
}
.top-line2 {
	    border-top: 1px solid #E0E0E0;
}
.FullWidth {
	width: 100%;
}
.page-header {
	    border-bottom: none !important;
}
.table {

}
	.table thead {
		    background-color: #e9ebec;
	    border-bottom: none;
	}
	.table thead tr {

	}
		.table thead tr th {
			   border-bottom: none  !important;
			   padding: 15px !important;
			       
		}
		.table thead tr th:last-child, .table tbody tr td:last-child {
			text-align: center;
		}
	.table tbody {

	}
		.table tbody tr{
		
		}
		.table tbody tr td{
			    padding-top: 20px !important;
    			border-top: none !important;
    			border-bottom: 1px solid #e6e6e6;

		}
		.LoginSection .panel-body .table .btn-outline {
			text-transform: none !important;
		}
		#clients-list td{
			text-align: left !important;

		}
/*....End General  CSS....*/

/*....Start Login Page CSS....*/
.LoginSection {

}
.LoginSection label {
	font-family: 'Lato', sans-serif;
}
	.LoginSection h1 {
		font-family: enigmatic_2;
		text-align: center;
		font-size: 30px;
		color: #404040;
		margin-bottom: 20px;
	}
	.LoginSection h4 {
    	font-size: 20px;
    	text-transform: uppercase;
    	font-family: enigmatic_2;
    	margin: 20px 0px;
	}
	.LoginSection p {
		font-size: 16px;
    	color: #404040;
    	font-family: 'Lato', sans-serif;
	}  
	.LoginSection .panel-default {
    	box-shadow: 0px 0px 10px rgba(24, 24, 24, 0.15);
    	border-color: transparent;
	}
		.LoginSection .panel-default .panel-body {
			padding: 0px 40px;
    		padding-bottom: 30px;
		} 
	.LoginSection .panel-body .btn-primary {
		transition: all .5s ease-in-out 0s;
		border: none;
		border-radius: 50px;
		padding: 10px 42px;
		font-family: 'Lato', sans-serif;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		background: #f8a21c; /* Old browsers */
		background: -moz-linear-gradient(left, #f8a21c 1%, #ff810b 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #f8a21c 1%,#ff810b 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #f8a21c 1%,#ff810b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8a21c', endColorstr='#ff810b',GradientType=1 ); /* IE6-9 */
	}
	.LoginSection .panel-body .btn-primary:hover {
    	background: linear-gradient(to left, #f8a21c 1%,#ff810b 100%);
	}

		.LoginSection .panel-body .btn-outline {
		    color: #FF7F0A;
			border: 1px solid #fe840c;
			padding: 10px 40px;
			border-radius: 50px;
			text-transform: uppercase;
			font-weight: bold;
			transition: all .5s ease-in-out 0s;
			background-color: transparent;
		}
			.LoginSection .panel-body .btn-outline:hover {
    			background-color: #ff840d;
    			color: #fff;
			}
			.LoginSection .panel-body .form-group {
				    padding: 0px 5px;
			}
			.LoginSection .panel-body .form-group .btn-link {
				float: right;
				font-family: 'Lato', sans-serif;
				color: #ff7f0a;
			}
			.LoginSection .panel-body .form-group .form-control {
				height: 50px;
				border: 1px solid #D9D9D9;
				display: block;
				margin: 0 auto;
				border-radius: 5px;

			}

	.LoginSection .LogoImg {
		text-align: center;
		display: block;
		margin: 0 auto;
		padding: 30px 0px;
	}
		.LoginSection .LogoImg a {
			text-align: center;
			float: none;
		}
		.LoginSection .LogoImg img {
			display: block;
			margin: 0 auto;
			text-align: center;
		}

/*....End Login Page CSS....*/

/*....Start Welcome Page Css ....*/
.head {
	    padding-top: 80px;
}
.head .top-right {
	float: right;
}
.mid-logo {
    padding: 11%;
}
.orange-btn {
	    color: #fff;
		transition: all .5s ease-in-out 0s;
		border: none;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		padding: 15px 42px;
		font-family: 'Lato', sans-serif;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		background: #f8a21c; /* Old browsers */
		background: -moz-linear-gradient(left, #f8a21c 1%, #ff810b 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #f8a21c 1%,#ff810b 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #f8a21c 1%,#ff810b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8a21c', endColorstr='#ff810b',GradientType=1 ); /* IE6-9 */
}
.orange-btn i {
	    margin-right: 5px;
}
.orange-btn:hover {
	background: linear-gradient(to left, #f8a21c 1%,#ff810b 100%);
	color:#fff;
	text-decoration: none;
}

/*....End Welcome Page Css ....*/


.choice {
	padding: 0px;
    list-style-type: none;
}
.choice li  {
	    display: inline;
    	padding-right: 25px;
}
.choice li input {

}
/*....Start footer Css ....*/
.custom-footer {
	margin-top: 20px;
}
	.custom-footer p {
		padding: 20px 0px;
		margin: 0px 0px;
		color: #808080;
	}
.p-1  {
	padding: 20px 0px;
}
.MrTp80 {
	margin-top: 80px;
}
/*....End footer Css ....*/

@media (max-width:1024) {
	.navbar-nav li a {
		
	}
}
@media (max-width: 768px) {
	body {
		   
	}
	.head {
    	padding-top: 40px;	
	}
	.mid-logo {
	    padding: 0;
	    width: 80%;
	    display: block;
	    margin: 0 auto;
	    margin-top: 50px;
	}
	.LoginSection .LogoImg {
		margin-top: -110px;
	}
	    
	.LoginSection .panel-body .btn-outline {
		margin: 10px 0px;
	}
	.LoginSection .panel-body .form-group .btn-link {
		float: none;
	}
	.choice br {
		display: none;
	}
	.choice li {
		display: inline-flex;
		padding: 10px;
	}
	.btn-blue .btn-primary {
		margin:20px 0px;
	}
	.mobile-ctr {
		text-align: center;;
	}
}

/*    End  Danish Gilani    */